body {
  margin: 0;
  background: #0b0f1a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 30%;
  padding: 30px;
  background: #050816;
}

.right {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output {
  font-size: 40px;
  color: #38bdf8;
  margin-top: 20px;
}

.camera-box {
  position: relative;
  width: 640px;
  height: 480px;
}

.video,
.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}